#divP {  width: 335px;  height: 550px;  overflow: auto;  margin: 0 auto;  border: 1px solid #aaa;  }
#divC {  width: 220px;  min-height: 1000px;  margin:0 auto;  }
#divC .box {display: flex;align-items:center;justify-content: center; width: 200px;  min-height: 150px; height:auto; margin-top: 10px; overflow:hidden;  border: 1px solid #eee;  text-align: center;  }
#divC .images {width: 100%;}
